@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;
  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* fonts  */
  --headingFont: sans-serif;
  --bodyFont: sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  /*used for the projectttttttttttttt*/
  --clr-bg: #fff;
  --clr-txt: var(var(--grey-900));
  --clr-accent: #16e0bd;
  /*font size*/
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  /*font weight*/
  --fw-reg: 300;
  --fw-bold: 900;
  /*shadow*/
  --shadow-3: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.75em rgba(0, 0, 0, 0.15);
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;

  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.outer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-container {
  background-color: white;
  width: 500px;
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(100, 100, 1000, 0.2);
  overflow: hidden;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--white);
  background: var(--primary-500);

  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 1rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: block;
  width: 100%;
  border: none;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}
.quiz-header {
  padding: 2rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
h2 {
  margin: 0;
}
ul li {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 600;
}
ul li label {
  cursor: pointer;
}
.score__board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#result {
  margin: 0;
  font-size: 2rem;
  padding: 1.2rem;
}
.score__board1 {
  border-top: solid 2px black;
}
